<main class="container">
  <section class="register_refund_section">
    <h1>Solicitação de reembolso</h1>
    <p>
      Informe os dados da despesa para solicitar reembolso. A despesa será
      analisada e reembolsada em até 30 dias.
    </p>

    <form class="form">
      <section class="form_control_group">
        <div class="form_control">
          <label for="title">TÍTULO DA DESPESA</label>
          <div class="input_container">
            <input id="title" />
          </div>
        </div>
      </section>

      <section class="form_control_group">
        <div class="form_control">
          <label id="category">CATEGORIA</label>
          <div class="input_container">
            <input for="category" />
          </div>
        </div>

        <div class="form_control">
          <label id="value">VALOR</label>
          <div class="input_container">
            <input for="value" />
          </div>
        </div>
      </section>

      <button>Adicionar despensa</button>
    </form>
  </section>

  <section class="list_section">
    <section class="list_header">
      <div class="list_header_item">
        <span class="title">Minhas solicitações</span>

        <img src="/assets/divider-icon.svg" />

        <span class="count">6 DESPESAS</span>
      </div>

      <div class="list_header_item">
        <div>
          <span class="currency">R$</span>
          <span class="amount">1.420,57</span>
        </div>
      </div>
    </section>

    <hr />

    <section class="list_content">
      <ul>
        <li>
          <div class="list_content_item">
            <div class="list_content_item_icon">
              <img src="/assets/lunch-icon.svg" />
            </div>

            <div class="list_content_item_description">
              <span class="title">Almoço</span>
              <span class="description">alimentação</span>
            </div>
          </div>

          <div class="list_content_item">
            <div class="list_content_item_value">
              <span class="currency">R$</span>
              <span class="amount">34,78</span>
            </div>

            <img src="/assets/close-icon.svg" />
          </div>
        </li>

        <li>
          <div class="list_content_item">
            <div class="list_content_item_icon">
              <img src="/assets/lunch-icon.svg" />
            </div>

            <div class="list_content_item_description">
              <span class="title">Almoço</span>
              <span class="description">alimentação</span>
            </div>
          </div>

          <div class="list_content_item">
            <div class="list_content_item_value">
              <span class="currency">R$</span>
              <span class="amount">34,78</span>
            </div>

            <img src="/assets/close-icon.svg" />
          </div>
        </li>

        <li>
          <div class="list_content_item">
            <div class="list_content_item_icon">
              <img src="/assets/lunch-icon.svg" />
            </div>

            <div class="list_content_item_description">
              <span class="title">Almoço</span>
              <span class="description">alimentação</span>
            </div>
          </div>

          <div class="list_content_item">
            <div class="list_content_item_value">
              <span class="currency">R$</span>
              <span class="amount">34,78</span>
            </div>

            <img src="/assets/close-icon.svg" />
          </div>
        </li>

        <li>
          <div class="list_content_item">
            <div class="list_content_item_icon">
              <img src="/assets/lunch-icon.svg" />
            </div>

            <div class="list_content_item_description">
              <span class="title">Almoço</span>
              <span class="description">alimentação</span>
            </div>
          </div>

          <div class="list_content_item">
            <div class="list_content_item_value">
              <span class="currency">R$</span>
              <span class="amount">34,78</span>
            </div>

            <img src="/assets/close-icon.svg" />
          </div>
        </li>
      </ul>
    </section>
  </section>
</main>
